{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content %}

<h1>Status check</h1>

Current {{ service }} service status: {{ status }}

<ul>
    <li><a href="/demo/apc-circuit-breaker/{{ service }}/status">refresh status</a></li>
    <li><a href="/demo/apc-circuit-breaker/{{ service }}/succeed">report success</a></li>
    <li><a href="/demo/apc-circuit-breaker/{{ service }}/fail">report failure</a></li>
</ul>

{% endblock %}




